<!-- your html code here -->
  <div class="row    " style="background-color: white; height: 400px;">
    <div class="col-1">

    </div>
    <div class="col  ">
      <h1><br/>The First Heading <span style="color: grey;">Will Catch Your Eye</span></h1>
      <p>Donec ullamcorper nulla non metus auctor fringilla. 
        Vestibulum id ligula porta felis euismond semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-4 d-flex align-items-center">
      <img style="max-width: 60%;" src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="rounded-circle shadow-4strong " alt=""/>
    </div>
  </div> 
