<!-- your html code here -->

<div class="container mt-5">
    <div class="bg-light p-3 rounded mb-4">
        <h1 class="mb-0">Project Overview</h1>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../assets/img/big-project-image.png" class="card-img-top" alt="Image goes here!">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Far Out in the uncharted backwaters of the unfashionable end of the Western Spiral arm of the galaxy lies a small unregarded yellow sun.</p>
            </div>
            <!-- Code to be removed    
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        -->
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Far Out in the uncharted backwaters of the unfashionable end of the Western Spiral arm of the galaxy lies a small unregarded yellow sun.</p>
            </div>
            <!-- Code to be removed    
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        -->
        </div>
        <div class="card">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/bcpt4-exercise-collaborative-html-website/refs/heads/master/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Far Out in the uncharted backwaters of the unfashionable end of the Western Spiral arm of the galaxy lies a small unregarded yellow sun.</p>
            </div>
<!-- Code to be removed             
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>  
            -->
        </div>
    </div>
</div>